#body{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f5;
  column-gap: 32px;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
